.popup__window {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    min-width: 430px;
}

@media screen and (max-width: 500.98px) {
    .popup__window {
        min-width: 75vw;
        width: calc(100vw - 54px);
    }
}